---
# Make sw-installer guy and allowing him to install software
- name: Create sw-installer user
  user: name=sw-installer
        comment="Software install user"

# Adding write permissions to all those directories
- name: make install dirs
  file: name={{ item }} state=directory owner={{ sw_installer }} mode=755
  with_items:
    - "{{ source_dir}}"
    - "{{ soft_dir }}"
    - "{{ modules_dir }}"
    - "{{ brew_dir }}"
  sudo: yes

# Adding public key
- name: Add public key to the authorised_key
  authorized_key: user={{ sw_installer }}
                  key="{{ pub_key }}"
