# List of servers, ansible refers to them as systems

bioplat1          ansible_ssh_host=111.222.33.4
bioplat2          ansible_ssh_host=111.222.33.5
bioplat3          ansible_ssh_host=111.222.33.6
ansible-test      ansible_ssh_host=111.222.33.7

# List of different groups, the same system can be added to multiple groups

[bioinformatics]
#bioplat1
#bioplat2

[interactive]
#bioplat3

[webserver]
#bioplat1
#bioplat2

[test]
ansible-test
