shell=`basename $SHELL`

if [[ -f {{ apps_dir }}/lmod/lmod/init/$shell ]]
then

  export PATH={{ apps_dir }}/lmod/lmod/libexec:$PATH
  source {{ apps_dir }}/lmod/lmod/init/$shell

  export MODULEPATH="{{ modules_core }}:{{ modules_bio }}:{{ modules_extra }}:${MODULEPATH}"
  #export LMOD_PAGER="/usr/bin/less -E -F -R"

fi
