---

- name: qiime
  pip: name=qiime version={{version}} virtualenv={{soft_dir}}/qiime-{{version}} virtualenv_site_packages=yes

- pip: name=qiime-tools virtualenv={{soft_dir}}/qiime-{{version}} virtualenv_site_packages=yes
- pip: name=qiime-default-reference virtualenv={{soft_dir}}/qiime-{{version}} virtualenv_site_packages=yes

- file: dest="{{modules_dir}}/bio/qiime" state=directory mode=0755

- name: qiime module definition
  template:
    src: sw-module.lua.j2
    dest: "{{ modules_dir }}/bio/qiime/{{version}}.lua"
    owner: "{{ sw_installer }}"
    mode: 0644
  with_items:
    - { help_text: 'QIIME is an open-source bioinformatics pipeline for performing microbiome analysis from raw DNA sequencing data', dir: 'qiime-{{version}}', append: true }


