shell=`basename $SHELL`

if [[ -f /opt/lmod/lmod/init/$shell ]]
then

  export PATH=/opt/lmod/lmod/libexec:$PATH
  . /opt/lmod/lmod/init/$shell

  module_types=("{{ modules_core }}" "{{ modules_bio }}")
  #module_types=("{{ modules_core }}" "{{ modules_bio }}" "{{ modules_extra }}")
  
  module_path=""
  for mtype in ${module_types[@]}
  do
    if [[ -d $mtype ]]
    then
      if [[ -z $module_path ]]
      then
        module_path+=$mtype
      fi
      module_path+=":"
      module_path+=$mtype
    fi
  done

  export MODULEPATH=$module_path
  #export LMOD_PAGER="/usr/bin/less -E -F -R"

fi

