shell=`basename $SHELL`

if [ -f {{ soft_dir }}/lmod/lmod/init/$shell ]
then

    export PATH={{ soft_dir }}/lmod/lmod/libexec:$PATH
    . {{ soft_dir }}/lmod/lmod/init/$shell

    for dir in `ls -1 {{ modules_dir }}| egrep -v '^all$' `
    do
	export MODULEPATH="$MODULEPATH:{{ modules_dir }}/$dir"
    done

    #export LMOD_PAGER="/usr/bin/less -E -F -R"

fi
