if ( -f  {{ soft_dir }}/lmod/lmod/init/csh  ) then
  source {{ soft_dir }}/lmod/lmod/init/$shell
endif

foreach dir ( `ls {{ modules_dir }} | egrep -v '^all$' ` )
	setenv MODULEPATH           `{{ soft_dir }}/lmod/lmod/libexec/addto --append MODULEPATH {{ modules_dir }}/$dir`
end

#setenv LMOD_PAGER "/usr/bin/less -E -F -R"

endif

