help(
[[
This module loads the SPAdes genome assembler
]])

local version = "SPAdes-3.5.0-Linux"
local base = pathJoin("{{soft_dir}}",version)

prepend_path("PATH", pathJoin(base, "bin"))
LmodMessage("Loaded SPAdes module.  Use: spades.py")

