help(
[[
{{ item.help_text }}
]])

local dir = "{{ item.dir }}"
local base = pathJoin("{{soft_dir}}",dir)

prepend_path("PATH", pathJoin(base, "bin"))

{% if item.msg is defined %}
LmodMessage("{{ item.msg }}")
{% endif %}

