help(
[[
{{ item.help_text }}
]])

local dir = "{{ item.dir }}"
local base = pathJoin("{{soft_dir}}",dir)

{% if item.skip_bin is defined %}
prepend_path("PATH", base)
{% elif item.bin is defined %}
prepend_path("PATH", pathJoin(base, "{{item.bin}}"))
{% else %}
prepend_path("PATH", pathJoin(base, "bin"))
{% endif %}

{% if item.msg is defined %}
LmodMessage("{{ item.msg }}")
{% endif %}

