help(
[[
{{ item.help_text }}
]])

local dir = "{{ item.dir }}"
local base = pathJoin("{{soft_dir}}",dir)

{% if item.skip_bin is defined %}
local path = base
{% elif item.bin is defined %}
local path = pathJoin(base, "{{item.bin}}")
{% else %}
local path = pathJoin(base, "bin")
{% endif %}

{% if item.append is defined %}
append_path("PATH", path)
{% else %}
prepend_path("PATH", path)
{% endif %}

{% if item.python_path is defined %}
prepend_path("PYTHONPATH", pathJoin(base, "{{item.python_path}}"))
{% endif %}


{% if item.msg is defined %}
LmodMessage("{{ item.msg }}")
{% endif %}

