# USER-CONTROLLED SETTINGS
# ------------------------

# PATH SETTINGS

tmpfiles_path = r'{{ tmp_dir }}/mimodd-scratch'
snpeff_path = r'{{ apps_dir }}/snpEff-{{ snpeff_version }}'

# PERFORMANCE
multithreading_level = 4
max_memory = 15

# ENCODING
input_decoding = 'lenient'


# INSTALLATION SETTINGS
# ---------------------

# DON'T CHANGE!

bin_path = r'../bin'

