# USER-CONTROLLED SETTINGS
# ------------------------

# PATH SETTINGS

tmpfiles_path = r'/tmp/mimodd-scratch'
snpeff_path = r'/software/apps/snpEff'

# PERFORMANCE
multithreading_level = 4
max_memory = 15

# ENCODING
input_decoding = 'lenient'


# INSTALLATION SETTINGS
# ---------------------

# DON'T CHANGE!

bin_path = r'../bin'

