help(
[[
{{ item.help_text }}
]])

{% if item.base is defined %}
local base = "{{ item.base }}"
{% else %}
local base = pathJoin("{{ apps_dir }}", "{{ item.dir }}")
{% endif %}

{% if item.sik is defined %}
load("STAR/{{ star_version  }}",
     "bwa/{{ bwa_version }}",
     "subread/{{ subread_version }}",
     "picard/{{ picard_version }}",
     "fastqc/{{ fastqc_version }}",
     "qualimap/{{ qualimap_version }}",
     "samtools/{{ samtools_version }}",
     "multiqc/{{ multiqc_version }}",
     -- "java/{{ java_oracle_version }}",
     "java",
     "BigDataScript/{{ bds_version }}"
    )
{% endif %}

{% if item.java is defined %}
load("java/{{ java_oracle_version }}")
{% endif %}

{% if item.skip_bin is defined %}
  local path = base
{% elif item.bin is defined %}
  local path = pathJoin(base, "{{ item.bin }}")
{% else %}
  local path = pathJoin(base, "bin")
{% endif %}

{% if item.append is defined %}
  append_path("PATH", path)
{% else %}
  prepend_path("PATH", path)
{% endif %}

{% if item.perl_path is defined %}
  prepend_path("PERL5LIB", pathJoin(base, "{{item.perl_path}}"))
{% endif %}

{% if item.python_path is defined %}
  prepend_path("PYTHONPATH", pathJoin(base, "{{item.python_path}}"))
{% endif %}

{% for e in item.env|default([]) %}
  setenv("{{e.name}}", "{{e.value}}")
{% endfor %}

{% if item.depend is defined %}
  load({{ item.depend }})
{% endif %}

{% if item.msg is defined %}
  LmodMessage("{{ item.msg }}")
{% endif %}
