#!/usr/bin/env python3

c.JupyterHub.cookie_secret_file = '{{ apps_dir }}/jupyter-{{ version }}/jupyterhub_cookie_secret'

c.JupyterHub.ip = "127.0.0.1"
c.JupyterHub.port = 9393
c.JupyterHub.base_url = '/jupyter/'

c.Authenticator.admin_users = {'{{ main_guy }}'}

c.JupyterHub.proxy_cmd = ['{{ apps_dir }}/jupyter-{{ version }}/node_modules/configurable-http-proxy/bin/configurable-http-proxy']

c.JupyterHub.db_url = 'sqlite:///{{ apps_dir }}/jupyter-{{ version }}/jupyterhub.sqlite'

c.Spawner.cmd = ['jupyter-labhub']
